<h3>Contact Form</h3>

<!-- <button mat-raised-button [disabled]="isDisabled" (click)="getAllRecords()">fetch records
  <mat-icon><mat-spinner diameter="20">
  </mat-spinner></mat-icon>
</button> -->
  <!-- <mat-progress-spinner *ngIf="isDisabled" mode="indeterminate"></mat-progress-spinner> 

<div>
<button class="btn btn-danger" [disabled]="isDisabled" (click)="getAllRecords()">fetch records
  <mat-icon *ngIf="isDisabled" ><mat-spinner diameter="20">
  </mat-spinner></mat-icon>
</button>
  <mat-progress-bar
      *ngIf="isDisabled"
      mode="indeterminate"
      color="warn"
      
  >
  </mat-progress-bar> 
</div>


<ng-template #loading>
  <div>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template> -->
<button ion-button expand="block" (click)="presentLoading()">Show Loading</button>
<button class="btn btn-danger" expand="block" (click)="presentLoading()">fetch records
</button>

<div class="container">
  <form >
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">India</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit" (click)="goToSomeURL()">
  </form>
</div>
