<!-- <h1>hello world</h1>
<teamcard></teamcard>
<fisdemo-manulacomp></fisdemo-manulacomp>

<hr>
<signup></signup> -->

<!-- <home></home> -->


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">FIS Demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarScroll">
    <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/" routerLinkActive="isActive"
        [routerLinkActiveOptions]="{exact : true}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/about" routerLinkActive="isActive">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="isActive">Contact <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="d-flex">
      <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-warning" type="submit">Search</button>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>
